#about .container-fluid {
  overflow-y: scroll;
  width: 70vw;
  height: 40em;
  position: relative;
  top: 9em;
}

#about .card-body {
  min-height: 200px;
  width: 150px;
  background-color: whitesmoke;
}
#about .card:hover {
  transform: scale(1.1);
  transition: all linear 200ms;
  z-index: 1;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
#about .card a {
  overflow: hidden;
  width: 25px;
}
#about .card a:hover {
  width: 100%;
  transform: scale(1.1);
  transition: all linear 200ms;
  z-index: 1;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

@media screen and (max-width: 1440px) {
  #about .container-fluid {
    overflow-y: scroll;
    width: 78vw;
    height: 45em;
    position: relative;
    top: 9em;
  }
}
@media screen and (max-width: 1270px) {
  #about .container-fluid {
    overflow-y: scroll;
    width: 88vw;
    height: 45em;
    position: relative;
    top: 9em;
  }
}
@media screen and (max-width: 1125px) {
  #about .container-fluid {
    overflow-y: scroll;
    width: 70vw;
    height: 46em;
    position: relative;
    top: 9em;
  }
}
@media screen and (max-width: 767px) {
  #about .container-fluid {
    position: relative;
    margin-top: 40em;
    width: 86vw;
  }
}
