/* =================================
------------------------------------
  WebUni - Education Template
  Version: 1.0
 ------------------------------------ 
 ====================================*/

/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
  scroll-behavior: smooth;
	height: 100%;
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: #000;
	/* background-image:
	url("https://imgsrv2.voi.id/J6KMucRNgnCIQihSagzAjWRzbnHEzR0Lh4silGdhK5c/auto/1200/675/sm/1/bG9jYWw6Ly8vcHVibGlzaGVycy83MjA0NC8yMDIxMDgwMTE4MzEtbWFpbi5jcm9wcGVkXzE2Mjc4MTc1MjguanBn.jpg"); */

}
.background-image {
	position: fixed;
	left: 0;
	right: 0;
	display: block;
	/* background-image:
	url("https://en.idei.club/uploads/posts/2023-06/1687320082_en-idei-club-p-programming-background-dizain-pinterest-3.jpg"); */
  background-image: url("https://i.ibb.co/QMJD6gw/geneitthpasban.png");
	width: 100vw;
	height:100vh;
	-webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
	-o-filter: brightness(50%);
	-ms-filter: brightness(50%);
	filter: brightness(50%);
  }
  


/*---------------------
  Commom elements
-----------------------*/

/* buttons */

.site-btn {
    position: relative;
    cursor: pointer;
    margin: 0 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    padding: 14px 32px;
	color: rgb(255, 192, 3);
    font-size: 20px;
    text-transform: uppercase;    
  }
.site-btn:hover{
	
    color: whitesmoke;
}
  .site-btn:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: -10px;
    left: -10px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transition: all 0.5s;
  }
  
  .site-btn:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: -10px;
    right: -10px;
    border-bottom: 3px solid rgb(255, 192, 3);
    border-right: 3px solid rgb(255, 192, 3);
    transition: all 0.5s; 
  }

  .site-btn:hover:before{
	border-top: 3px solid rgb(255, 192, 3);
    border-left: 3px solid rgb(255, 192, 3);
    height: 100%;
    width: 100%;
  }
  .site-btn:hover:after {
	height: 100%;
    width: 100%;
	border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
  }


/*------------------
  Header section
---------------------*/

.header-section {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding-top: 60px;
}

.site-logo {
	margin-top: -3em;
	display: inline-block;
	filter: contrast(80%);
	-webkit-filter: contrast(80%);
}
.site-logo img {
	width: 150px;
	filter: brightness(40%);
	-webkit-filter: brightness(40%);
}

.main-menu ul {
	list-style: none;
}

.main-menu ul li {
	display: inline;
}

.main-menu ul li a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 45px;
	font-weight: 600;
	padding: 20px 0 5px;
	text-decoration: none;
}

.main-menu ul li a:hover {
	color: rgb(255, 192, 3);
}

.header-btn {
	float: right;
	margin-right: 0;
	text-decoration: none;
}

.nav-switch {
	display: none;
}

/*------------------
  Hero Section
---------------------*/


.hero-text {
	position: relative;
	text-align: center;
	top: 340px;
	bottom: 105px;
	
	color: rgba(255, 192, 3, 0.81);
}
.hero-text:hover{
	color: rgb(255, 192, 3);
	background-color: rgba(94, 94, 94, 0.059);
}
.hero-text:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: -10px;
    left: -10px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transition: all 0.5s;
  }
  
  .hero-text:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: -10px;
    right: -10px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all 0.5s; 
  }

.hero-text h2 {
	font-size: 50px;
	font-weight: 500;
	margin-bottom: 20px;
}
.hero-text:hover:before,
.hero-text:hover:after {
  height: 100%;
  width: 100%;
}
.intro-newslatter .site-btn {
	min-width: 214px;
}
