.footer {
  padding: 20px;
  position: relative;
  background-color: rgba(255, 192, 3, 0.299);
}
@media screen and (max-width: 425px) {
  .footer {
    font-size: x-small;
  }
  .footer .footer-heading {
    font-size: 20px;
  }
}

#footer .container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}
.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: relative;
}
.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ftco-footer-social li a:hover {
  color: #fff;
}

.form-control {
  height: 52px;
  background: #fff;
  color: #000;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.footer a {
  text-decoration: none;
  color: rgba(255, 192, 3, 0.81);
}
.footer p {
  color: rgba(255, 255, 255, 0.3);
}
.footer .footer-heading {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}
.footer .footer-heading .logo {
  color: #fff;
}
.footer .ftco-footer-social li a {
  background: transparent;
  border: 1px solid rgba(255, 192, 3, 0.81);
}
