/*------------------
    Main Data
---------------------*/

#structure .background-image {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    /* background-image:
    url("https://en.idei.club/uploads/posts/2023-06/1687320082_en-idei-club-p-programming-background-dizain-pinterest-3.jpg"); */
    background-color: black;
    z-index: 0;
    background-size: cover;
    width: 99vw;
    filter:brightness(50%) ;
    height: 100%;
    -webkit-filter:brightness(50%) ;
}

.slider ul li {
    position: relative;
    top: 45em;
    width: 50em;
}
.slider ul li h2 {
    padding: 5px;
    font-size: 120%;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
} 
.slider ul li h2:hover {
    color: rgb(255, 192, 3);
}


#container {
    position: relative;
    top: 10em;
    height: 40em;
    border-radius: 20px;
    margin-bottom: 10px;
    color: white;  
}  
#container .title {
    display: flex;
    justify-content: center;        
    align-items: center;
    gap: 50px;
}

#container #time, #container #date{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    position: relative;
    color: rgb(255, 192, 3);
}
#container .subject {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    top: -45em;
    width: 80vw;
    height: 30em;
    right: 26em;
    line-height: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#container .schedule p,
#container .piket p {
    display: flex;
    font-size: 1.5rem;
    position: relative;
}

#container #Sunday p,
#container #Sundays p,
#container #Saturday p
#container #Saturdays p
{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    left: 0px;
}

#container .structure .title .sc,
#container .schedule .title .sh,
#container .piket .title .se {
    box-shadow: whitesmoke 0px 4px 5px -5px;
}
#container .title a {
    cursor: pointer;  
    text-decoration: none;
    color: whitesmoke;   
}

/*Js Function */
#container .schedule{
    display: none;
    animation: 3s alternate in;
    -webkit-animation: 3s alternate in;
}

#container .structure {
    display: block;
    /* animation: 3s alternate in;
    -webkit-animation: 3s alternate in; */
}
#container .piket {
    display: none;
    animation: 3s alternate in;
    -webkit-animation: 3s alternate in;
}

@keyframes in {
    from {
    opacity: 0%;
    }
    to {
    opacity: 100%;
    }
}

#container #Tuesday,
#container #Tuesdays,
#container #Thursday, 
#container #Thursdays, 
#container #Friday, 
#container #Fridays, 
#container #Monday,
#container #Mondays,
#container #Wednesday,
#container #Wednesdays,
#container #Saturday,
#container #Saturdays,
#container #Sunday,
#container #Sundays{
    display: none;
}
/* Js Function End */
/*------------------
    Main Data End
---------------------*/


/*------------------
Structure Tree
---------------------*/
#BoxTree {
    position: absolute;
    top:-45em;
    left: -34em;
    height: 45em;
    width: 95vw;
    font-size: .8vw;
}

#BoxTree .BorderTree span:nth-child(1) {
    position: absolute;
    border-radius: 7px;
    background-color: white;
    height: 50px;
    width: 200px;
    top: 1em;
    right: 41vw;
    color: black;
    display: grid;
    place-items: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#BoxTree .BorderTree span:nth-child(2) {
    position: absolute;
    border-radius: 7px;
    background-color: white;
    height: 50px;
    width: 150px;
    top: 5em;
    left: 25em;
    color: black;
    display: grid;
    place-items: center;
}
#BoxTree .BorderTree span:nth-child(3) {
    position: absolute;
    border-radius: 7px;
    background-color: white;
    height: 50px;
    width: 150px;
    top: 5em;
    right: 25em;
    color: black;
    display: grid;
    place-items: center;
}
#BoxTree .BorderTree span:nth-child(4) {
    position: absolute;
    border-radius: 7px;
    background-color: white;
    height: 50px;
    width: 150px;
    top: 15em;
    left: 35em;
    color: black;
    display: grid;
    place-items: center;
}
#BoxTree .BorderTree span:nth-child(5) {
    position: absolute;
    border-radius: 7px;
    background-color: white;
    height: 50px;
    width: 150px;
    top: 15em;
    left: 15em;
    color: black;
    display: grid;
    place-items: center;
}
#BoxTree .BorderTree span:nth-child(6) {
    position: absolute;
    border-radius: 7px;
    background-color: white;
    height: 50px;
    width: 150px;
    top: 23em;
    left: 15em;
    color: black;
    display: grid;
    place-items: center;
}
#BoxTree .BorderTree span:nth-child(7) {
    position: absolute;
    border-radius: 7px;
    background-color: white;
    height: 50px;
    width: 150px;
    top: 23em;
    left: 35em;
    color: black;
    display: grid;
    place-items: center;
}
#BoxTree .BorderTree span:nth-child(8) {
    position: absolute;
    border-radius: 7px;
    background-color: white;
    height: 50px;
    width: 150px;
    top: 15em;
    right: 15em;
    color: black;
    display: grid;
    place-items: center;
}
#BoxTree .BorderTree span:nth-child(9) {
    position: absolute;
    border-radius: 7px;
    background-color: white;
    height: 50px;
    width: 150px;
    top: 15em;
    right: 35em;
    color: black;
    display: grid;
    place-items: center;
}
#BoxTree .BorderTree span:nth-child(10) {
    position: absolute;
    border-radius: 7px;
    background-color: white;
    height: 50px;
    width: 150px;
    top: 23em;
    right: 35em;
    color: black;
    display: grid;
    place-items: center;
}
#BoxTree .BorderTree span:nth-child(11) {
    position: absolute;
    border-radius: 7px;
    background-color: white;
    height: 50px;
    width: 150px;
    top: 23em;
    right: 15em;
    color: black;
    display: grid;
    place-items: center;
}
#BoxTree .BorderTree span:nth-last-child(1) {
    position: absolute;
    border-radius: 7px;
    background-color: white;
    height: 50px;
    width: 150px;
    bottom: 5em;
    right: 42.4vw;
    color: black;
    display: grid;
    place-items: center;
}


#BoxTree .stringTree span:nth-child(1){
    position: absolute;
    height: 380px;
    width: 5px;
    background-color: blue;
    top: 60px;
    left: 47vw ;
}
#BoxTree .stringTree span:nth-child(2){
    position: absolute;
    height: 70px;
    width: 340px;
    top: 34px;
    right: 31em ;
    border-top: 5px solid blue;
    border-right: 5px solid blue;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
#BoxTree .stringTree span:nth-child(3){
    position: absolute;
    height: 70px;
    width: 300px;
    top: 34px;
    left: 31em ;
    border-left: 5px solid blue;
    border-top: 5px solid blue;
    border-top: 5px solid blue;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
#BoxTree .stringTree span:nth-child(4){
    position: absolute;
    height: 100px;
    width: 70px;
    top: 8.5em;
    left: 25.6em ;
    border-right: 5px solid blue;
    border-bottom: 5px solid blue;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
#BoxTree .stringTree span:nth-child(5){
    position: absolute;
    height: 100px;
    width: 70px;
    top: 8.5em;
    left: 31em ;
    border-left: 5px solid blue;
    border-bottom: 5px solid blue;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
#BoxTree .stringTree span:nth-child(6){
    position: absolute;
    height: 100px;
    width: 70px;
    top: 16.5em;
    left: 25.6em ;
    border-right: 5px solid blue;
    border-bottom: 5px solid blue;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;  
}
#BoxTree .stringTree span:nth-child(7){
    position: absolute;
    height: 100px;
    width: 70px;
    top: 16.5em;
    left: 31em ;
    border-left: 5px solid blue;
    border-bottom: 5px solid blue;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
#BoxTree .stringTree span:nth-child(8){
    position: absolute;
    height: 100px;
    width: 70px;
    top: 8.5em;
    right: 25.6em ;
    border-left: 5px solid blue;
    border-bottom: 5px solid blue;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
#BoxTree .stringTree span:nth-child(9){
    position: absolute;
    height: 100px;
    width: 70px;
    top: 8.5em;
    right: 31em ;
    border-right: 5px solid blue;
    border-bottom: 5px solid blue;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
#BoxTree .stringTree span:nth-child(10){
    position: absolute;
    height: 100px;
    width: 70px;
    top: 16.5em;
    right: 25.6em ;
    border-left: 5px solid blue;
    border-bottom: 5px solid blue;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
#BoxTree .stringTree span:nth-child(11){
    position: absolute;
    height: 100px;
    width: 70px;
    top: 16.5em;
    right: 31em ;
    border-right: 5px solid blue;
    border-bottom: 5px solid blue;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
#BoxTree .stringTree span:nth-child(12){
    position: absolute;
    height: 175px;
    width: 47vw;
    top: 23.9em;
    right: 30em ;
    border-right: 5px solid blue;
    border-left : 5px solid blue;
    border-bottom: 5px solid blue;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
#BoxTree .stringTree span:nth-child(13){
    position: absolute;
    height: 175px;
    width: 400px;
    top: 24.2em;  
    right: -1em ;
    border-left : 5px solid blue;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
#BoxTree .stringTree span:nth-child(14){
    position: absolute;
    height: 175px;
    width: 400px;
    top: 24.2em;  
    left: -1em ;
    border-right : 5px solid blue;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
#BoxTree .stringTree span:nth-child(15){
    position: absolute;
    height: 5px;
    background-color: blue;
    width: 670px;
    top: 10em; 
    right: 31em;
}


#BoxTree .aboutTree span:nth-child(1) {
    position: absolute;
    border-radius: 7px;
    background-color: rgb(255, 192, 3);
    font-size: .7vw;
    height: 20px;
    width: 200px;
    top: .5em;
    right: 41vw;
    color: black;
    display: grid;
    place-items: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#BoxTree .aboutTree span:nth-child(2) {
    position: absolute;
    border-radius: 7px;
    background-color: rgb(255, 192, 3);
    font-size: .7vw;
    height: 20px;
    width: 150px;
    top: 5em;
    left: 20vw;
    color: black;
    display: grid;
    place-items: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#BoxTree .aboutTree span:nth-child(3) {
    position: absolute;
    border-radius: 7px;
    background-color: rgb(255, 192, 3);
    font-size: .7vw;
    height: 20px;
    width: 150px;
    top: 5em;
    right: 20vw;
    color: black;
    display: grid;
    place-items: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#BoxTree .aboutTree span:nth-child(4) {
    position: absolute;
    border-radius: 7px;
    background-color: rgb(255, 192, 3);
    font-size: .7vw;
    height: 20px;
    width: 150px;
    top: 16.4em;
    left: 12vw;
    color: black;
    display: grid;
    place-items: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#BoxTree .aboutTree span:nth-child(5) {
    position: absolute;
    border-radius: 7px;
    background-color: rgb(255, 192, 3);
    font-size: .7vw;
    height: 20px;
    width: 150px;
    top: 16.4em;
    right: 12vw;
    color: black;
    display: grid;
    place-items: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#BoxTree .aboutTree span:nth-child(6) {
    position: absolute;
    border-radius: 7px;
    background-color: rgb(255, 192, 3);
    font-size: .7vw;
    height: 20px;
    width: 150px;
    top: 16.4em;
    left: 28vw;
    color: black;
    display: grid;
    place-items: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#BoxTree .aboutTree span:nth-child(7) {
    position: absolute;
    border-radius: 7px;
    background-color: rgb(255, 192, 3);
    font-size: .7vw;
    height: 20px;
    width: 150px;
    top: 16.4em;
    right: 28vw;
    color: black;
    display: grid;
    place-items: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#BoxTree .aboutTree span:nth-child(8) {
    position: absolute;
    border-radius: 7px;
    background-color: rgb(255, 192, 3);
    font-size: .7vw;
    height: 20px;
    width: 150px;
    top: 25.4em;
    left: 12vw;
    color: black;
    display: grid;
    place-items: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#BoxTree .aboutTree span:nth-child(9) {
    position: absolute;
    border-radius: 7px;
    background-color: rgb(255, 192, 3);
    font-size: .7vw;
    height: 20px;
    width: 150px;
    top: 25.4em;
    right: 12vw;
    color: black;
    display: grid;
    place-items: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#BoxTree .aboutTree span:nth-child(10) {
    position: absolute;
    border-radius: 7px;
    background-color: rgb(255, 192, 3);
    font-size: .7vw;
    height: 20px;
    width: 150px;
    top: 25.4em;
    left: 28vw;
    color: black;
    display: grid;
    place-items: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#BoxTree .aboutTree span:nth-child(11) {
    position: absolute;
    border-radius: 7px;
    background-color: rgb(255, 192, 3);
    font-size: .7vw;
    height: 20px;
    width: 150px;
    top: 25.4em;
    right: 28vw;
    color: black;
    display: grid;
    place-items: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#BoxTree .aboutTree span:nth-child(12) {
    position: absolute;
    border-radius: 7px;
    background-color: rgb(255, 192, 3);
    font-size: .7vw;
    height: 20px;
    width: 150px;
    top: 40em;
    right: 42.4vw;
    color: black;
    display: grid;
    place-items: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

/*------------------
Structure Tree End
---------------------*/

/*------------------
Structure End
---------------------*/

