<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TKJ | Geneitthpasban</title>
    <link rel="stylesheet" href="/global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lemon&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="https://scontent.cdninstagram.com/v/t51.2885-19/453109972_7845883378861448_2701992789207010850_n.jpg?stp=dst-jpg_p100x100&_nc_cat=110&ccb=1-7&_nc_sid=fcb8ef&_nc_ohc=FxwmEufOLnkQ7kNvgFkGQWt&_nc_zt=24&_nc_ht=scontent.cdninstagram.com&oh=00_AYAxVRE5WrFHdYhyIwGCYEjb2GzWSHRzKDadYAWCTAxv_w&oe=66BEC11B"
      type="image/x-icon"
    />
  </head>
  <body class="tracking-wider">
     <!-- ABOUTUS -->
     <section id="AboutUS" class="bg-black min-w-full py-10">
        <div
          class="relative min-w-full flex flex-wrap justify-center gap-2 pt-24"
        >
          <div class="flex flex-row flex-wrap justify-center gap-3">
            <!-- area copy (<picture/>) -->
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Dedi Rialdi
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">neednnj_</p>
                </div>
              </a>
            </picture>
            <!-- copy code on the top to add more an replace the usernameInput to usernameInstagram an edit h2 to realname -->
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  N Pasha Malik A.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">loserboy_129</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Alfath Musyaffa
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">alfatmusyaffaa</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Noval Restu R.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">iijjjuuu_</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Anisa Safitri J.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">anisa.saju</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Risana Salsabila
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">rsasybla</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Andhika K.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">dikaaeuuyy</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Rahma Irawan.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">amaclydeee_</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Wildan Ahmad.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">wildanahmadfz</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Erfian M.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">elpiian</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Dede Ari N.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">arringgrha</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Luthfi A.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">ltfi_ardnsyh</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Ceptian Anugrah.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">cptnangrh</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Irwan Nugraha.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">irwan_nugrha</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Kelvin Ramadhan.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">kelvinramadan_565</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Nirwana Alexa S.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">nrwnalxsndr</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  M. Ardhitya Z.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">ardhityazeinn</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Ardiansyah.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">dyyannh_</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Ilham Abisalam.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">ilham_abi_</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Akbar F.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">faturprtma12</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  M. Alif R.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">alifrfld_</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Tendi I.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">tn____hs</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Aghi R.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">aghiirmdnn_</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Gilangga Y.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">gilangga_yusup_maulana</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Arifin N.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">arfnnrdnsyh_</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Naufal A.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">opallajaaaa_</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Ridho B.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">ido.9274</p>
                </div>
              </a>
            </picture>
            <picture
              class="bg-white rounded-lg h-60 w-52 hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
            >
              <div class="profile-gallery" id="profileGallery1">
                <!-- Profile cards dimuat disini -->
              </div>
              <a
                href=""
                class="profile-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h2 class="mx-2 mt-1 text-black overflow-hidden font-bold">
                  Rakha F.
                </h2>
                <div class="flex mt-1 text-sm items-center">
                  <img class="w-6 ml-2 mr-1" src="/svg/instagram.svg" />
                  <span>@</span>
                  <p type="text" class="usernameInput">pawyeyey</p>
                </div>
              </a>
            </picture>
          </div>
        </div>
      </section>
  
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../js/loadCard.js"></script>
  </body>
</html>
