<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TKJ | Geneitthpasban</title>
    <link rel="stylesheet" href="/global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lemon&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="https://scontent.cdninstagram.com/v/t51.2885-19/453109972_7845883378861448_2701992789207010850_n.jpg?stp=dst-jpg_p100x100&_nc_cat=110&ccb=1-7&_nc_sid=fcb8ef&_nc_ohc=FxwmEufOLnkQ7kNvgFkGQWt&_nc_zt=24&_nc_ht=scontent.cdninstagram.com&oh=00_AYAxVRE5WrFHdYhyIwGCYEjb2GzWSHRzKDadYAWCTAxv_w&oe=66BEC11B"
      type="image/x-icon"
    />
  </head>
  <body class="tracking-wider">
    <!-- STRUCTURE -->
      <section id="Structure" class="min-w-full  text-white">
        <div class="w-full">
          <div class="text-center relative top-32 text-lg">
            <div id="Date"></div>
            <div id="Time"></div>
          </div>
          <div id="Organization" class="block pt-40 pb-16">
            <div class="flex justify-center">
              <img class="w-1/2" src="/img/bg1.jpg" alt="" srcset="" />
            </div>
          </div>
          <div id="Picket" class="hidden pt-48 pb-4">
            <div id="Picket" class="flex justify-center leading-loose">
              <div id="Mondays">
                <p class="my-5">- Muhammad Alif Rifaldi</p>
                <p class="my-4">- Dedi Rialdi</p>
                <p class="my-5">- Rizki Nurahman</p>
                <p class="my-4">- Muhammad Aril Nasruloh</p>
                <p class="my-5">- Gilangga Yusuf Maulana</p>
                <p class="my-4">- Ridho Bachrudin Malik</p>
                <p class="my-5">- Anisa Safitri Julianti</p>
              </div>
              <div id="Tuesdays">
                <p class="my-5">- Nirwana Alexa Sandria</p>
                <p class="my-4">- Muhammad Irwan Nugraha</p>
                <p class="my-5">- Wildan Ahmad Fauzan</p>
                <p class="my-4">- Aghi Pasha Ramadhan</p>
                <p class="my-5">- Naufal Alfarizi</p>
                <p class="my-4">- Kelvin Ramadhan</p>
                <p class="my-5">- Nurunnisa</p>
              </div>
              <div id="Wednesdays">
                <p class="my-5">- Noval Restu Radhitya</p>
                <p class="my-4">- Ilham Abisalam</p>
                <p class="my-5">- Andhia Kurniawan</p>
                <p class="my-4">- Erfian Muhammad Fasha</p>
                <p class="my-5">- Akbar Faturrahman</p>
                <p class="my-4">- Aripin Nurdiansyah</p>
                <p class="my-5">- Risana Syabilla</p>
              </div>
              <div id="Thursdays">
                <p class="my-5">- Ilham Nurhidayat</p>
                <p class="my-4">- Ceptian Nugraha</p>
                <p class="my-5">- Dede Ari Nugraha</p>
                <p class="my-4">- Muhammad Ardhitya Zein</p>
                <p class="my-5">- Aip Fajri</p>
                <p class="my-4">- Muhammad Lutfi Ardiansyah</p>
                <p class="my-5">- Rahma Irawan</p>
              </div>
              <div id="Fridays">
                <p class="my-5">- Muhammad Rakha Fauzan</p>
                <p class="my-4">- Alfath Musyaffa</p>
                <p class="my-5">- N. Pasha Malik Alma</p>
                <p class="my-4">- Ardiansyah</p>
                <p class="my-5">- Tendi Ikhsan</p>
                <p class="my-4">- Septian Nurfadilah</p>
                <p class="my-5">- Puput Nurhandayani</p>
              </div>
              <div id="Saturdays" class="pb-80 -mb-2">
                <p class="my-5">There are no subjects today</p>
              </div>
              <div id="Sundays" class="pb-80 -mb-2">
                <p class="my-5">There are no subjects today</p>
              </div>
            </div>
          </div>
          <div id="Schedule" class="hidden pt-48 pb-44">
            <div id="Subject" class="flex justify-center leading-loose">
              <div id="Monday">
                <p class="my-5">- Teknologi Layanan Jaringan</p>
                <p class="my-4">- Matematik</p>
                <p class="my-5">- Pendidikan Agama Islam</p>
                <p class="my-4">- Kewirausahaan</p>
              </div>
              <div id="Tuesday">
                <p class="my-5">- Bahasa Inggris</p>
                <p class="my-4">- Pendidikan Kewarganegaraan</p>
                <p class="my-5">- Kewirausahaan</p>
                <p class="my-4">- Administrasi Infrastruktur Jaringan</p>
              </div>
              <div id="Wednesday">
                <p class="my-5">- Bahasa Jepang</p>
                <p class="my-4">- Kewirausahaan</p>
                <p class="my-5">- Bahasa Indonesia</p>
                <p class="my-4">- Produktif</p>
              </div>
              <div id="Thursday" class="pb-24 mb-2">
                <p class="my-5">- Administrasi Sistem Jaringan</p>
                <p class="my-4">- Administrasi Infrastruktur Jaringan</p>
              </div>
              <div id="Friday" class="pb-12">
                <p class="my-5">- Teknologi Layanan Jaringan</p>
                <p class="my-4">- Administrasi Infrastruktur Jaringan</p>
                <p class="my-5">- Matematika</p>
              </div>
              <div id="Saturday" class="pb-36 mb-2">
                <p class="my-5">There are no subjects today</p>
              </div>
              <div id="Sunday" class="pb-36 mb-2">
                <p class="my-5">There are no subjects today</p>
              </div>
            </div>
          </div>
        </div>
        <nav class="p-4 -mt-10 py-10 w-full flex justify-center">
          <ul class="w-1/2 flex justify-evenly">
            <li>
              <button
                class="hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
                onclick="sliderStructure()"
              >
                Structure
              </button>
            </li>
            <li>
              <button
                class="hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
                onclick="sliderPicket()"
              >
                Picket
              </button>
            </li>
            <li>
              <button
                class="hover:drop-shadow-[8px_9px_4px_#F59E0B] transition ease-in-out"
                onclick="sliderSchedule()"
              >
                Schedule
              </button>
            </li>
          </ul>
        </nav>
      </section>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../js/slider.js"></script>
    <script src="../js/clock.js"></script>
  </body>
</html>
